body{
  background-color: aliceblue;
  background-image: url(fro.fw.png);
}

#container{
  width: 800px;
  margin: auto;
}

#canvas{
  background-color: aliceblue;
  background-image: url(grid.png);
  border: 2px inset midnightblue;
}
