body{
  background-color:deepskyblue;
}

#container{
  color: midnightblue;
  text-align: right;
  width: 800px;
  padding: 30px;
  margin: 50px auto;
  background-color: lightskyblue;
  border: 2px solid white;
  border-radius: 20px;
  font-size: 18px;
}

#container h1{
  text-align: center;
}

svg{
  background-color: aliceblue;
  border: 2px solid white;

}

#myTable{
  width: 400px;
  margin: 50px auto;
}


.numberBox{
  text-align: center;
  font-size: 24px;
  font-family: monospace;
  color: "yellow";
}

.bit:hover{
  cursor: pointer;
}
